/* stylelint-disable declaration-block-semicolon-newline-after */
/* stylelint-disable string-quotes */
/* stylelint-disable selector-list-comma-newline-after */
/* stylelint-disable number-leading-zero */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable font-family-name-quotes */
/* stylelint-disable indentation */
/* stylelint-disable length-zero-no-unit */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: white;
    scroll-behavior: smooth;
}

span.b {
    color: #394867;
    font-size: larger;
    font-style: bold;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #394867;
    padding: 20px;
    box-shadow: 2px 1px 4px 2px #29363c;
    position: fixed;
    width: 100%;
    margin-top: 0%;
    z-index: 1;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.logo a {
    text-decoration: none;
}

nav a {
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
}

nav a:hover {
    background-color: rgba(255,255,255,0.08);
    border-radius: 5px;
}

.hamburger {
    height: 5px;
    background-color: white;
    width: 30px;
    border-radius: 5px;
    display: none;
    transition: all .2s ease-in;
    cursor: pointer;
}

.hamburger::before, .hamburger::after {
    content: '';
    position: absolute;
    height: 5px;
    background-color: white;
    width: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease-in;
}

.hamburger::before {
    transform: translateY(-10px);
}

.hamburger::after {
    transform: translateY(10px);
}

.open {
    background-color: transparent;
}

.hamburger.open::before {
    transform: rotate(45deg);
}

.hamburger.open::after {
    transform: rotate(-45deg);
}

.nav-open {
    position: absolute;
    top: 60px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #394867;
    width: 100%;
    left: 1px;
    transition: all .2s ease-in;
    box-shadow: 0px 6px 4px -4px #29363c;
    align-items: center;
}

.home-section {
    height: 70vh;
    background-color: #394867; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 8%;
}

.intro {
    padding: 10px;
}

.name {
    font-size: 60px;
    padding-bottom: 30px;
}

.more-intro {
    font-size: 30px;
    padding-bottom: 25px;
}

.social-links {
    padding-top: 5px;
}

.social-links i {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.social-links i:hover {
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 25px;
}

.project-heading-links {
    display: flex;
    flex-direction: row;
}

.project-heading {
    margin: 10px;
    margin-left: 11%;
    color:#394867;
    font-weight: bold;
    line-height: 40px;
    font-size: 35px;
}

.project-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    font-size: 30px;
}

.project-links a {
    padding: 10px;
}

.project-links a:hover {
    border-radius: 8px;
    box-shadow: 1px 1px 3px 0px #647780;
}

.portfolio-color {
    color: #394867;
}

.project-content p {
    color: #394867;
}

.project-hr-module {
    background-color: #394867;
    margin-left: 5%;
    margin-right: 5%;
    height: 3px;
}

.about-section, projects-section {
    height: 60vh;
    background-color: white;
}

.about-container {
    display: flex;
    justify-content: space-around;
    align-items: left;
    height: 100%;
}

.about-me-container, .project-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #394867;
}

.about-me-title, .project-title, .experience-title {
    font-size: 45px;
    font-weight: bold;
    align-content: center;
    text-align: center;
    padding: 40px;
    color: #394867;
}

.role-company-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 28px;
    font-weight: bold;
    align-content: center;
    text-align: center;
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
    color: #394867;
}

.team-product {
    font-size: 20px;
    font-weight: bold;
    align-content: center;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    color: #394867;
}

.role, .company, .from-date {
    color: #394867;
    font-size: 28px;
    font-weight: bold;
}

.about-me-text {
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 20px;
    color:#394867;
    font-weight: bold;
    font-size: larger;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    width: 80%;
}

.about-me-text-tools {
    padding: 10px;
    margin-left: 14%;
    margin-right: 10%;
    line-height: 20px;
    color:#394867;
    font-weight: bold;
    font-size: larger;
    justify-content: center;
    align-items: center;
    line-height: 15px;
    width: 80%;
    list-style-type: square;
}
.project-text {
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 20px;
    color:#394867;
    font-weight: bold;
    font-size: larger;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    width: 80%;
}

.experience-text{
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 20px;
    color:#394867;
    font-weight: bold;
    font-size: larger;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    width: 80%;
}

.footer {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15%;
    background-color: #394867;
    color: white;
}

.resume {
    border: 1px solid white;
    border-radius: 5px;
}

.home-page-footer {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    background-color: #394867;
}

.home-page-footer-up-margin {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 22rem;
    background-color: #394867;
}

.contact-page-footer {
    /* height: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    background-color: #394867;
    height: 40%;
    margin-bottom: 0px;
}

.footer h1 {
    padding: 10px;
}

.footer-text {
    padding: 10px;
    text-align: center;
    line-height: 20px;
}

.other-contacts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    padding: 10px;
    text-align: center;
    align-items: center;
    margin: auto;
}

.contact-container {
    color: #394867;
    height: 30px;
    width: 100%;
    line-height: 30px;
    text-align: center;
    margin-bottom: 20%;
}

.twitter, .facebook, .instagram {
    border: 1px solid black;
    border-radius: 30px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #394867;
}

.twitter:hover {
    background-color: #80cffa;
    color: #fff;
}

.facebook:hover {
    background-color: #3b5999;
    color: #fff;
}

.instagram:hover {
    background-color: palevioletred;
    color: #fff;
}

.footer-heart-text {
    padding: 20px;
    text-align: center;
    color: white;
}

.heart {
    color: white;
}

@media screen and (max-width: 650px) {
    nav {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .home-section {
        width: 100%;
    }

    .about-container {
        flex-direction: column;
        padding-top: 60px;
    }

    .about-me-container {
        width: 80%;
        padding-bottom: 10px;
        /* margin-bottom: 10%; */
    }

    .about-me-title {
        text-align: center;
    }

    .about-section {
        height: auto;
        /* margin-bottom: 25%; */
    }

    .intro {
    padding: 10px;
    }

    .name {
        font-size: xxx-large;
        padding-bottom: 30px;
    }

    .more-intro {
        font-size: 30px;
        padding-bottom: 25px;
    }

    .about-me-text {
        padding: 10px;
        margin-left: 10%;
        line-height: 28px;
        color:#394867;
        font-weight: bold;
        font-size: medium;
        justify-content: center;
        align-items: center;
        width: 100%;
   }

   .about-me-text-tools {
        padding: 10px;
        margin-left: 17%;
        /* margin-bottom: 15%; */
        line-height: 20px;
        color:#394867;
        font-weight: bold;
        font-size: medium;
        justify-content: center;
        align-items: center;
        width: 100%;
        list-style-type: square;
   }

   .project-text {
        padding: 10px;
        margin-left: 10%;
        line-height: 28px;
        color:#394867;
        font-weight: bold;
        font-size: medium;
        justify-content: center;
        align-items: center;
        width: 80%;
   }

   .home-page-footer-up-margin {
    margin-top: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #394867;
    }

   .experience-text {
        padding: 10px;
        margin-left: 10%;
        line-height: 28px;
        color:#394867;
        font-weight: bold;
        font-size: medium;
        justify-content: center;
        align-items: center;
        width: 80%;
   }

   .about-me-title, .project-title {
    font-size: 35px;
    font-weight: bold;
    align-content: center;
    text-align: center;
    padding: 40px;
    color: #394867;
}

   .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #394867;
    padding: 20px;
    box-shadow: 2px 1px 4px 2px #29363c;
    position: fixed;
    width: 100%;
    /* margin-top: 0%; */
    top: 1px;
    z-index: 1;
   }

   .contact-page-footer {
    /* height: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70%;
    background-color: #394867;
    height: 40%;
    margin-bottom: 0px;
    }

    .project-heading {
    margin: 10px;
    margin-left: 5%;
    color:#394867;
    font-weight: bold;
    line-height: 40px;
    font-size: 22px;
    }

    .role-company-date {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    font-weight: bold;
    align-content: center;
    text-align: center;
    color: #394867;
}

    .role, .company, .from-date {
        color: #394867;
        font-size: 15px;
        font-weight: bold;
        margin-left: 2%;
        margin-right: 2%;
        line-height: 30px;
    }

    .team-product {
        font-size: 15px;
        font-weight: bold;
        align-content: center;
        text-align: center;
        margin-top: 4%;
        margin-bottom: 2%;
        margin-left: 5%;
        margin-right: 5%;
        color: #394867;
        line-height: 25px;
    }

    .from-date {
        color: #394867;
        font-size: small;
        font-weight: bold;
        margin-left: 2%;
        margin-right: 2%;
        line-height: 30px;
    }
}
